input.w1 {
	width:2.167%;
}

input.w2 {
	width:5.5%;
}

input.w3 {
	width:10.5%;
}

input.w4 {
	width:14.667%;
}

input.w5 {
	width:18.833%;
}

input.w6 {
	width:23.0%;
}

input.w7 {
	width:27.167%;
}

input.w8 {
	width:31.333%;
}

input.w9 {
	width:35.5%;
}

input.w10 {
	width:39.667%;
}

input.w11 {
	width:43.833%;
}

input.w12 {
	width:48.0%;
}

input.w13 {
	width:52.167%;
}

input.w14 {
	width:56.333%;
}

input.w15 {
	width:60.5%;
}

input.w16 {
	width:64.667%;
}

input.w17 {
	width:68.833%;
}

input.w18 {
	width:73.0%;
}

input.w19 {
	width:77.167%;
}

input.w20 {
	width:81.333%;
}

input.w21 {
	width:85.5%;
}

input.w22 {
	width:89.667%;
}

input.w23 {
	width:93.833%;
}

input.w24 {
	width:98.0%;
}